################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/backend/.vs/AssignmentSubmissionManagement.slnx
/backend/.vs/ProjectEvaluation
